@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Josefin+Sans:wght@500&family=Poiret+One&family=Poppins&family=Quicksand:wght@600&display=swap");
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background-color: #190841;
  font-family: "Poppins";
  color: white;
  margin: 40px 5vw 20px 5vw;
  background-color: #2f0064;
  background-color: #000000;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 50% 155px,
      transparent 0,
      #000000 100px
    ),
    repeating-linear-gradient(#4c00b955, #4c00b9);
}

* {
  box-sizing: border-box;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

h1 {
  color: #ffffff;
  font-family: "Fugaz One";
  font-size: 80px;
  text-align: center;
  margin: 15px auto;
  text-shadow: 10px 0px 80px #8c00ff, 0px 10px 80px #8c00ff,
    -10px 0px 80px #8c00ff, 0px -10px 80px #8c00ff;
}
h2 {
  font-size: 45px;
  font-family: "Poiret One";
  text-align: center;
  font-weight: bold;
  display: inline-block;
  margin: 20px auto;
  width: 100%;
}
h3 {
  font-size: 20px;
  margin: 10px;
  font-family: "Quicksand";
}
h4 {
  font-size: 25px;
  font-family: "Quicksand";
  display: block;
  text-align: center;
}
p {
  font-size: 18px;
  margin: 5px;
  text-align: center;
}
code,
.code {
  background-color: rgb(40, 0, 63);
  color: #d5beff;
  font-size: 19px;
  padding: 0 5px;
  font-family: "Consolas";
}
small {
  display: block;
}
a,
a:visited {
  text-decoration: none;
  color: var(--fontColorMain);
}
a:active {
  color: #ffffff;
}

:root {
  --fontColorMain: #7354b3;
  --baseColor1: #d5beff;
  --baseColor2: #543d8f;
}

#loading {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
}
#console {
  font-family: courier, monospace;
  color: #fff;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-size: 14px;
  text-align: left;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#console p {
  font-size: 14px;
  text-align: left;
}
#console a {
  font-size: 14px;
  color: #0bc;
  text-decoration: none;
}
#a {
  color: #0dbf0d;
}
#c {
  color: #bfbf00;
}
#b {
  color: #bf00bf;
}
@keyframes loadoutro {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#totop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  line-height: 0px;
  white-space: nowrap;
  border-radius: 50px;
  transition: 0.3s;
  z-index: 100;
  padding: 0;
  background-color: #34235f;
  box-shadow: 0px 10px 20px #000000a2;
  color: rgb(226, 182, 255);
  border: none;
  outline: none;
}
#totop:hover {
  background-color: #be9bff;
  box-shadow: 0px 10px 20px #34235f;
  color: #5100ad;
}
#totop:active {
  background-color: #742aff;
  color: rgb(236, 209, 255);
}

#maintitle {
  animation-name: flicker-4;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes flicker-4 {
  0%,
  100% {
    opacity: 1;
  }
  31.98% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
  32.8% {
    opacity: 0;
  }
  32.82% {
    opacity: 1;
  }
  34.98% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  35.7% {
    opacity: 0;
  }
  35.72% {
    opacity: 1;
  }
  36.98% {
    opacity: 1;
  }
  37% {
    opacity: 0;
  }
  37.6% {
    opacity: 0;
  }
  37.62% {
    opacity: 1;
  }
  67.98% {
    opacity: 1;
  }
  68% {
    opacity: 0;
  }
  68.4% {
    opacity: 0;
  }
  68.42% {
    opacity: 1;
  }
  95.98% {
    opacity: 1;
  }
  96% {
    opacity: 0;
  }
  96.7% {
    opacity: 0;
  }
  96.72% {
    opacity: 1;
  }
  98.98% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  99.6% {
    opacity: 0;
  }
  99.62% {
    opacity: 1;
  }
}
.titlebg img {
  z-index: -1;
  border-radius: 200px;
  display: block;
  height: 225px;
  width: 225px;
  margin: 10px auto 10px;
  transition: 0.4s;
  box-shadow: 0px 10px 30px #000000;
}
.titlebg img:hover {
  animation-name: vibrate-1;
  box-shadow: -20px -20px 50px #53c0ff, -20px 20px 50px #62da00,
    20px -20px 50px #ff0022, 20px 20px 50px #ffff00;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  transition: 0.2s;
  border-radius: 75px;
  animation-delay: 0.1s;
}
body:hover .titlebg img:hover {
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #000000 40px
    ),
    repeating-linear-gradient(#4c00b955, #b2ff7e);
  transition: 0.2s;
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.mainbutton {
  height: fit-content;
  position: relative;
  margin-bottom: 20px;
}
.center {
  margin: 0px auto;
  width: fit-content;
}

.button {
  font-family: "Josefin Sans";
  font-size: 20px;
  border: none;
  outline: none;
  padding: 12px 16px 10px 16px;
  background-color: #34235f;
  box-shadow: 0px 10px 20px #000000a2;
  color: rgb(226, 182, 255);
  cursor: pointer;
  border-radius: 20px;
  height: 80px;
  transition: 0.5s;
  width: 130px;
  margin: 10px 5px;
  display: inline-block;
}
.button:hover {
  background-color: #be9bff;
  box-shadow: 0px 10px 20px #34235f;
  color: #5100ad;
  transition: 0.2s;
  border-radius: 10px;
}
.button:active {
  background-color: #742aff;
  color: rgb(236, 209, 255);
  transition: 0.2s;
}

.mySlides1,
.mySlides2,
.mySlides3,
.mySlides4,
.mySlides5,
.mySlides6 {
  display: none;
}
img {
  vertical-align: middle;
  border-radius: 20px;
}

.imgsection {
  background-color: #944ad152;
  width: 47.5%;
  display: block;
  height: 500px;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  position: relative;
  transition: 0.5s;
  border-color: transparent transparent transparent #5b00c4;
  box-shadow: 0 20px 20px #00000054;
  border-width: 0 10px 0 10px;
  border-style: solid;
  float: left;
}
.imgsection p {
  display: flex;
  text-align: justify;
  /* float: left; */
  width: 100%;
  height: 100px;
  font-size: 15px;
}

.slideshow-container {
  max-width: 450px;
  position: relative;
  margin: auto;
  transition: 0.6s;
  border-radius: 20px;
  border: 5px solid #00000065;
}
.slideshow-container:hover {
  border: 0px solid #00000065;
  box-shadow: 0px 15px 40px #000000be;
  transition: 0.2s;
}
.slideshow-container:hover .prev,
.slideshow-container:hover .next {
  color: white;
}
.slideshow-container:hover .prev:hover,
.slideshow-container:hover .next:hover {
  color: #9e29ff;
}
.slideshow-container:hover .prev:active,
.slideshow-container:hover .next:active {
  color: var(--baseColor1);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 5px;
  margin-top: -30px;
  color: rgba(255, 255, 255, 0.322);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 55px;
  user-select: none;
  line-height: 0px;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: var(--baseColor1);
  transition: 0.2s;
}
.prev:active,
.next:active {
  background-color: #9e29ff;
  transition: 0.2s;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #0000006e;
}

.cmdselect {
  background-color: #000000;
  border-radius: 10px;
  padding: 10px;
  padding-top: 10px;
  height: 90px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  width: fit-content;
  max-width: 100%;
  scrollbar-width: 0px;
  transition: 0.2s;
  margin: 20px auto;
}
.cmdselect:hover {
  background-color: #45345f;
  transition: 0.2s;
}

.cmdbtn {
  font-family: "Josefin Sans";
  border: none;
  outline: none;
  padding: 8px 14px 10px 14px;
  background-color: var(--cmdBtnBg);
  cursor: pointer;
  color: var(--cmdBtnColorShadow);
  border-radius: 12.5px;
  height: 55px;
  transition: 0.5s;
  width: 90px;
  box-shadow: 0px 10px 0px var(--cmdBtnColorShadow);
  margin: 0px 5px;
  display: inline-block;
  font-size: 10px;
}
button .cmdbtn + p {
  margin: 0px;
}
.cmdbtn:hover {
  border-radius: 5px;
  filter: saturate(2);
  transition: 0.1s;
}
.cmdbtn:active {
  border-radius: 10px;
  transform: translateY(10px);
  color: #ffffff;
  box-shadow: 0px 0px 0px var(--cmdBtnColorShadow);
  transition: 0.2s;
  background-color: var(--cmdBtnColorShadow);
}
.material-icons.md-36 {
  font-size: 28px;
}

#cmdbtn_grey {
  --cmdBtnBg: #e0e0e0;
  --cmdBtnColorShadow: #555555;
}
#cmdbtn_red {
  --cmdBtnBg: #ff9e9e;
  --cmdBtnColorShadow: #880707;
}
#cmdbtn_orange {
  --cmdBtnBg: #ffbd9e;
  --cmdBtnColorShadow: #883b07;
}
#cmdbtn_yellow {
  --cmdBtnBg: #fff59e;
  --cmdBtnColorShadow: #868807;
}
#cmdbtn_green {
  --cmdBtnBg: #bdff9e;
  --cmdBtnColorShadow: #2b8807;
}
#cmdbtn_teal {
  --cmdBtnBg: #9effb6;
  --cmdBtnColorShadow: #078838;
}
#cmdbtn_cyan {
  --cmdBtnBg: #9efffa;
  --cmdBtnColorShadow: #076a88;
}
#cmdbtn_blue {
  --cmdBtnBg: #9eb0ff;
  --cmdBtnColorShadow: #071a88;
}
#cmdbtn_purple {
  --cmdBtnBg: #bb9eff;
  --cmdBtnColorShadow: #590788;
}
#cmdbtn_pink {
  --cmdBtnBg: #ff9eef;
  --cmdBtnColorShadow: #88077d;
}

.container {
  overflow: scroll;
  background-color: #1c003696;
  border-radius: 25px;
  height: fit-content;
  max-height: 95vh;
  padding: 20px;
  width: 100%;
  display: inline-block;
  margin: 20px auto;
  overflow-x: hidden;
  transition: 0.2s;
  font-size: 9px;
}
.container:hover {
  background-color: #852bcead;
  transition: 0.2s;
}

.filterDiv {
  float: left;
  background-color: #d5beff;
  border-radius: 25px;
  color: var(--fontColorMain);
  width: 24%;
  height: 140px;
  text-align: center;
  margin: 5px 0.5%;
  padding: 10px auto;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  vertical-align: middle;
}
.filterDiv:hover {
  border-radius: 15px;
  background-color: #d09eff;
  box-shadow: 0px 15px 10px #29024eb9;
  transition: 0.2s;
}
.filterDiv p {
  font-size: 12px;
  line-height: 15px;
}
.filterDiv p .code,
.filterDiv code {
  font-size: 11px;
  line-height: 0px;
}
.filterDiv small {
  font-size: 10px;
}

.show {
  display: block;
}

iframe {
  border-radius: 10px;
}

footer {
  background-color: #002d33;
  height: fit-content;
  color: #61e7ff;
  border: 2px solid #61e7ff;
  position: relative;
  flex: 1 1 auto;
  border-radius: 15px;
  padding: 10px;
  transition: 0.5s;
  box-shadow: 0px 10px 20px rgb(0, 51, 66);
}
footer:hover {
  background-color: #004750;
  border: 2px solid #61e7ff00;
  box-shadow: 0px 20px 50px #003b46;
  transition: 0.2s;
}
footer p {
  font-size: 20px;
  display: inline-block;
  text-align: center;
  margin: auto;
  width: 100%;
}
footer small {
  text-align: center;
}
table {
  width: 100%;
  margin: 10px;
  height: fit-content;
  text-align: left;
}
th {
  border-radius: 10px;
  margin: 2.5px;
  color: #00d9e0;
  height: 50px;
}
thead {
  margin-bottom: 5px;
}
td {
  border-radius: 10px;
  height: 300px;
  margin: 2.5px;
  color: white;
  vertical-align: top;
  font-size: 0.8em;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  transition: 0.2s;
}
::-webkit-scrollbar-thumb:hover {
  background: #8e51ff;
  transition: 0.2s;
}

@media (min-width: 1800px) {
  .filterDiv {
    width: 19%;
  }
  .imgsection {
    width: 32%;
  }
}
@media (min-width: 2000px) {
  .filterDiv {
    width: 15.5%;
  }
}
@media (min-width: 2200px) {
  .filterDiv {
    width: 13.25%;
  }
}
@media (min-width: 2400px) {
  .filterDiv {
    width: 11.5%;
  }
}
@media (max-width: 1300px) {
  .filterDiv {
    width: 32%;
  }
  h4 {
    font-size: 2vw;
  }
}
@media (max-width: 1000px) {
  .filterDiv {
    width: 48%;
  }
  .imgsection {
    width: 100%;
  }
  h4 {
    font-size: 25px;
  }
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 15vw;
  }
  .filterDiv {
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
  }
  /* .mainbutton {
    height: fit-content;
    position: relative;
    margin-bottom: 20px;
    width: fit-content;
    float: unset;
    margin: 20px auto;
  }
  .center {
    width: fit-content;
  } */
  .button {
    margin: 10px auto;
    width: 100%;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 5spx;
    margin-top: -30px;
    color: rgba(255, 255, 255, 0.322);
  }
  .imgsection {
    height: fit-content;
    margin: 5px 0;
    width: 99%;
    border-width: 0 1%;
  }
  .imgsection p {
    display: block;
    height: fit-content;
  }
  .prev .material-icons.md-48,
  .next .material-icons.md-48 {
    font-size: 28px;
  }
  ::-webkit-scrollbar {
    height: 0;
  }
}
@media screen and (max-width: 500px) {
  table {
    font-size: 3vw;
  }
}
