@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Josefin+Sans:wght@500&family=Poiret+One&family=Poppins&family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background-color: #190841;
  font-family: "Poppins";
  color: white;
  margin: 20px 0vw 20px 0vw;
  background: radial-gradient(
      #360065 15%,
      transparent 16%,
      transparent 49%,
      #360065 50%,
      transparent 51%
    ),
    radial-gradient(
      circle at top left,
      #360065 10%,
      transparent 10%,
      transparent 39%,
      #360065 40%,
      transparent 41%
    ),
    radial-gradient(
      circle at top right,
      #360065 10%,
      transparent 10%,
      transparent 39%,
      #360065 40%,
      transparent 41%
    ),
    radial-gradient(
      circle at bottom left,
      #360065 10%,
      transparent 10%,
      transparent 39%,
      #360065 40%,
      transparent 41%
    ),
    radial-gradient(
      circle at bottom right,
      #360065 10%,
      transparent 10%,
      transparent 39%,
      #360065 40%,
      transparent 41%
    );
  background-size: 6em 6em;
  background-color: #180038;
  opacity: 1;
}

* {
  box-sizing: border-box;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

h1 {
  color: #ffffff;
  font-family: "Fugaz One";
  font-size: 80px;
  text-align: center;
  margin: 15px auto;
  text-shadow: 10px 0px 80px #8c00ff, 0px 10px 80px #8c00ff,
    -10px 0px 80px #8c00ff, 0px -10px 80px #8c00ff;
}
h2 {
  font-size: 45px;
  font-family: "Poiret One";
  text-align: center;
  font-weight: bold;
  display: inline-block;
  margin: 20px auto;
  width: 100%;
}
h3 {
  font-size: 20px;
  margin: 10px;
  font-family: "Quicksand";
}
h4 {
  font-size: 25px;
  font-family: "Quicksand";
  display: block;
  text-align: center;
}
p {
  font-size: 18px;
  margin: 5px;
  text-align: center;
}
code,
.code {
  background-color: #28003f;
  color: #d5beff;
  font-size: 19px;
  padding: 0 5px;
  font-family: "Ubuntu Mono";
}
small {
  display: block;
}
a,
a:visited {
  text-decoration: none;
  color: #81ffff;
}
a:active {
  color: #ffffff;
}

:root {
  --fontColorMain: #7354b3;
  --baseColor1: #d5beff;
  --baseColor2: #543d8f;
}

#loading {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
}
#console {
  font-family: "Ubuntu Mono", monospace;
  color: #fff;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 100px;
  font-size: 18px;
  text-align: left;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: inline-block;
}
#cursor {
  display: inline-block;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  display: inline;
}
@keyframes blink {
  0% {
    color: white;
  }
  50% {
    color: white;
  }
  51% {
    color: transparent;
  }
  100% {
    color: transparent;
  }
}
#console p {
  font-size: 14px;
  text-align: left;
}
#console a {
  font-size: 14px;
  color: #0bc;
  text-decoration: none;
}
#skipload {
  position: fixed;
  bottom: 40px;
  display: block;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  outline: none;
  border: none;
  padding: 10px;
  font-family: monospace;
  font-size: 17.5px;
  border-radius: 10px;
  z-index: 101;
  cursor: pointer;
}

#a {
  color: #0dbf0d;
}
#c {
  color: #bfbf00;
}
#b {
  color: #bf00bf;
}
@keyframes loadoutro {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#totop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  line-height: 0px;
  white-space: nowrap;
  border-radius: 50px;
  transition: 0.3s;
  z-index: 100;
  padding: 0;
  background-color: #34235f;
  box-shadow: 0px 10px 20px #000000a2;
  color: #e2b6ff;
  border: none;
  outline: none;
}
#totop:hover {
  background-color: #be9bff;
  box-shadow: 0px 10px 20px #34235f;
  color: #5100ad;
}
#totop:active {
  background-color: #742aff;
  color: #ecd1ff;
}

#maintitle {
  animation-name: flicker-4;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes flicker-4 {
  0%,
  100% {
    opacity: 1;
  }
  31.98% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
  32.8% {
    opacity: 0;
  }
  32.82% {
    opacity: 1;
  }
  34.98% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  35.7% {
    opacity: 0;
  }
  35.72% {
    opacity: 1;
  }
  36.98% {
    opacity: 1;
  }
  37% {
    opacity: 0;
  }
  37.6% {
    opacity: 0;
  }
  37.62% {
    opacity: 1;
  }
  67.98% {
    opacity: 1;
  }
  68% {
    opacity: 0;
  }
  68.4% {
    opacity: 0;
  }
  68.42% {
    opacity: 1;
  }
  95.98% {
    opacity: 1;
  }
  96% {
    opacity: 0;
  }
  96.7% {
    opacity: 0;
  }
  96.72% {
    opacity: 1;
  }
  98.98% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  99.6% {
    opacity: 0;
  }
  99.62% {
    opacity: 1;
  }
}

#navbar {
  position: fixed;
  top: 10px;
  margin: 0px 2.5vw 20px;
  width: 95vw;
  z-index: 75;
  border-radius: 15px;
  transition: 0.5s;
  background-color: #3b1852;
  box-shadow: 0 20px 50px #00000096;
  height: 75px;
  display: flex;
}
#announcetext {
  flex-grow: 10;
  position: relative;
  text-align: center;
  display: inline-block;
}
#navbar p {
  position: absolute;
  vertical-align: middle;
  justify-self: center;
  margin: 0 auto;
  font-family: "Jost";
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  color: #d29afd;
  font-size: 18px;
  font-weight: lighter;
}
#navicon {
  flex-grow: 0;
  color: #e6c7ff;
  background-color: #864fb3;
  padding: 10px;
  margin: 10px;
  font-size: 35px;
  border-radius: 10px;
  float: left;
  justify-self: left;
  user-select: none;
}
#navclose {
  flex-grow: 0;
  background-color: transparent;
  padding: 10px;
  justify-self: right;
  margin: 10px;
  font-size: 35px;
  border-radius: 10px;
  float: right;
  transition: 0.2s;
  cursor: pointer;
  user-select: none;
  z-index: 85;
}
#navclose:hover {
  background-color: #ff6868;
  color: #a00000;
}

.titlebg img {
  z-index: -1;
  border-radius: 200px;
  display: block;
  height: 225px;
  width: 225px;
  margin: 70px auto 10px;
  transition: 0.4s;
  box-shadow: 0px 10px 30px #000000;
}
.titlebg img:hover {
  animation-name: vibrate-1;
  box-shadow: -20px -20px 50px #53c0ff, -20px 20px 50px #62da00,
    20px -20px 50px #ff0022, 20px 20px 50px #ffff00;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  transition: 0.2s;
  border-radius: 75px;
  animation-delay: 0.1s;
}
body:hover .titlebg img:hover {
  transition: 0.2s;
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes navbarclose {
  0% {
    top: 10px;
  }
  100% {
    top: -200px;
  }
}

.mainbutton {
  height: fit-content;
  position: relative;
  margin-bottom: 20px;
}
.center {
  margin: 0px auto;
  width: fit-content;
}

.button {
  font-family: "Josefin Sans";
  border: none;
  outline: none;
  padding: 12px 16px 10px 16px;
  background-color: #34235f;
  box-shadow: 0px 10px 20px #000000a2;
  color: #e2b6ff;
  cursor: pointer;
  border-radius: 20px;
  height: 80px;
  transition: 0.5s;
  width: 115px;
  margin: 10px 5px;
  display: inline-block;
}
.button p {
  font-size: 15px;
}
.button:hover {
  background-color: #be9bff;
  box-shadow: 0px 10px 20px #34235f;
  color: #5100ad;
  transition: 0.2s;
  border-radius: 10px;
}
.button:active {
  background-color: #742aff;
  color: #ecd1ff;
  transition: 0.2s;
}
#loadwidget {
  width: 200px;
  height: auto;
}

.mySlides1,
.mySlides2,
.mySlides3,
.mySlides4,
.mySlides5,
.mySlides6 {
  display: none;
}
img {
  vertical-align: middle;
  border-radius: 20px;
}

.imgsection {
  background-color: #944ad152;
  width: 32.1%;
  display: block;
  height: 500px;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  position: relative;
  transition: 0.5s;
  border-color: transparent transparent transparent #5b00c4;
  box-shadow: 0 20px 20px #00000054;
  border-width: 0 10px 0 10px;
  border-style: solid;
  float: left;
}
.imgsection p {
  display: flex;
  text-align: justify;
  /* float: left; */
  width: 100%;
  height: 100px;
  font-size: 15px;
}

.slideshow-container {
  max-width: 450px;
  position: relative;
  margin: auto;
  transition: 0.6s;
  border-radius: 20px;
  border: 5px solid #00000065;
}
.slideshow-container:hover {
  border: 0px solid #00000065;
  box-shadow: 0px 15px 40px #000000be;
  transition: 0.2s;
}
.slideshow-container:hover .prev,
.slideshow-container:hover .next {
  color: white;
}
.slideshow-container:hover .prev:hover,
.slideshow-container:hover .next:hover {
  color: #9e29ff;
}
.slideshow-container:hover .prev:active,
.slideshow-container:hover .next:active {
  color: var(--baseColor1);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 5px;
  margin-top: -30px;
  color: #ffffff52;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 55px;
  user-select: none;
  line-height: 0px;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: var(--baseColor1);
  transition: 0.2s;
}
.prev:active,
.next:active {
  background-color: #9e29ff;
  transition: 0.2s;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #0000006e;
}
#cardcontainer {
  margin: 5vw;
}

.cmdselect {
  background-color: #000000;
  border-radius: 10px;
  padding: 10px;
  height: fit-content;
  display: inline-block;
  max-height: 80vh;
  vertical-align: top;
  overflow-y: scroll;
  overflow-x: hidden;
  /* white-space: nowrap; */
  width: 120px;
  /* max-width: 100%; */
  scrollbar-width: 0px;
  transition: 0.2s;
  margin: 20px 10px 20px 2.5vw;
  max-width: 90vw;
}
.cmdselect:hover {
  background-color: #b8b8b8;
  transition: 0.2s;
}

.cmdbtn {
  font-family: "Josefin Sans";
  border: none;
  outline: none;
  padding: 8px 14px 8px 14px;
  background-color: var(--cmdBtnBg);
  cursor: pointer;
  color: var(--cmdBtnColorShadow);
  border-radius: 12.5px;
  height: 65px;
  transition: 0.5s;
  box-shadow: 0px 10px 0px var(--cmdBtnColorShadow);
  width: 90px;
  margin: 10px 5px;
  display: inline-block;
  font-size: 10px;
}
button .cmdbtn + p {
  margin: 0px;
}
.cmdbtn:hover {
  border-radius: 5px;
  filter: saturate(2);
  transition: 0.1s;
  font-size: 10px;
}
.cmdbtn:active {
  border-radius: 10px;
  transform: translateY(10px);
  color: #ffffff;
  box-shadow: 0px 0px 0px var(--cmdBtnColorShadow);
  transition: 0.2s;
  background-color: var(--cmdBtnColorShadow);
}
.material-icons.md-36 {
  font-size: 28px;
}

#cmdbtn_grey {
  --cmdBtnBg: #e0e0e0;
  --cmdBtnColorShadow: #555555;
}
#cmdbtn_red {
  --cmdBtnBg: #ff9e9e;
  --cmdBtnColorShadow: #880707;
}
#cmdbtn_orange {
  --cmdBtnBg: #ffbd9e;
  --cmdBtnColorShadow: #883b07;
}
#cmdbtn_yellow {
  --cmdBtnBg: #fff59e;
  --cmdBtnColorShadow: #868807;
}
#cmdbtn_green {
  --cmdBtnBg: #bdff9e;
  --cmdBtnColorShadow: #2b8807;
}
#cmdbtn_teal {
  --cmdBtnBg: #9effb6;
  --cmdBtnColorShadow: #078838;
}
#cmdbtn_cyan {
  --cmdBtnBg: #7dffe3;
  --cmdBtnColorShadow: #076a88;
}
#cmdbtn_blue {
  --cmdBtnBg: #6fcfff;
  --cmdBtnColorShadow: #071a88;
}
#cmdbtn_indigo {
  --cmdBtnBg: #7182ff;
  --cmdBtnColorShadow: #071a88;
}
#cmdbtn_purple {
  --cmdBtnBg: #bb9eff;
  --cmdBtnColorShadow: #590788;
}
#cmdbtn_pink {
  --cmdBtnBg: #ff9eef;
  --cmdBtnColorShadow: #88077d;
}

.container {
  overflow: scroll;
  background-color: #1c003696;
  border-radius: 25px;
  height: 80vh;
  padding: 20px;
  width: 82.5vw;
  display: inline-block;
  margin: 20px 2.5vw 20px 10px;
  overflow-x: hidden;
  transition: 0.2s;
  font-size: 9px;
}
.container:hover {
  background-color: #4c2e63;
  transition: 0.2s;
}
#alert {
  background-color: #e4e47f;
  color: #8f911f;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  display: flex;
  border-radius: 20px;
  width: 90%;
  height: 55px;
  margin: 5px 5% 30px 5%;
  box-shadow: 0px 10px 30px #32330094;
}
#alert p {
  font-size: 15px;
  top: 5px;
  position: relative;
  vertical-align: middle;
  flex-grow: 10;
  display: inline-block;
}
#iconalert {
  background-color: #d4d45d;
  padding: 10px;
  border-radius: 15px;
  left: 0px;
  max-height: 50px;
  float: left;
  position: relative;
  user-select: none;
}
#alert button {
  cursor: pointer;
  position: relative;
  background-color: #ff9e9e;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 25px;
  border-radius: 15px;
  font-family: "Josefin Sans";
  width: 45px;
  height: 45px;
  right: 0%;
  display: inline-block;
  color: #8d0000;
}
#alert .material-icons.md-36 {
  font-size: 25px;
}
#alert button:hover {
  background-color: #8d0000;
  color: #ff9e9e;
  transition: 0.2s;
}

.filterDiv {
  float: left;
  background-color: #d5beff;
  border-radius: 25px;
  color: var(--fontColorMain);
  width: 24%;
  max-height: 40px;
  text-align: left;
  margin: 5px 0.5%;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  overflow: hidden;
  vertical-align: middle;
}
.filterDiv:hover {
  border-radius: 15px;
  background-color: #d09eff;
  box-shadow: 0px 15px 10px #29024eb9;
  transition: 0.2s;
  max-height: 500px;
  transition-delay: 1s;
}
.filterDiv p {
  font-size: 12px;
  line-height: 15px;
  max-width: 60%;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 10px;
  color: #2c0050;
}
.filterDiv:hover p {
  max-width: 100%;
  transition-delay: 1s;
}
.filterDiv h3 {
  display: inline-block;
  padding: 5px 40px;
  margin: 5px;
  height: fit-content;
  background-color: #ae75e4;
  border-radius: 55px;
  vertical-align: middle;
  transition: 0.5s;
  width: 200px;
  font-size: 15px;
  text-align: center;
  color: #390050;
}
.filterDiv:hover h3 {
  transition: 0.2s;
  transition-delay: 1s;
  border-radius: 10px;
  margin-right: 98%;
}
.filterDiv p .code,
.filterDiv code {
  margin: 5px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
}
.filterDiv small {
  font-size: 10px;
  color: #eeff8c;
}
.filterDiv br {
  height: 100px;
}
.filterDiv .more {
  display: block;
  background-color: #a67af8;
  padding: 5px;
  width: auto;
  border-radius: 10px;
  margin: 5px;
  height: fit-content;
  text-align: center;
}

.show {
  display: block;
}

iframe {
  border-radius: 10px;
  margin: 2.5vw;
  width: 95vw;
}

footer {
  background-color: #002d33;
  height: fit-content;
  color: #61e7ff;
  border: 2px solid #00a5c2;
  position: relative;
  flex: 1 1 auto;
  border-radius: 15px;
  padding: 10px 2.5vw;
  transition: 0.5s;
  margin: 2.5vw;
  width: 95vw;
}
footer:hover {
  box-shadow: 0px 10px 20px #000000be;
  background-color: #00535e;
  border: 2px solid #61e7ff00;
  box-shadow: 0px 20px 50px #003b46;
  transition: 0.2s;
}
footer p {
  font-size: 20px;
  display: inline-block;
  text-align: center;
  margin: auto;
  width: 100%;
}
footer small {
  text-align: center;
}
footer a {
  margin: 10px 1vw;
  width: 27vw;
  display: inline-block;
  text-align: center;
  background-color: #00d9e0;
  padding: 10px 0px;
  color: #002d33;
  border-radius: 10px;
}
footer a:visited {
  color: #002d33;
}
table {
  width: 100%;
  margin: 10px;
  height: fit-content;
  text-align: left;
}
th {
  border-radius: 10px;
  margin: 2.5px;
  color: #00d9e0;
  height: 50px;
}
thead {
  margin-bottom: 5px;
}
td {
  border-radius: 10px;
  height: 300px;
  margin: 2.5px;
  color: white;
  vertical-align: top;
  font-size: 0.8em;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  transition: 0.2s;
}
::-webkit-scrollbar-thumb:hover {
  background: #8e51ff;
  transition: 0.2s;
}
@media (max-width: 2800px) {
  .filterDiv {
    width: 31%;
  }
}
@media (max-width: 2100px) {
  .filterDiv {
    width: 49%;
  }
}
@media (max-width: 1800px) {
  .imgsection {
    width: 47.5%;
  }
}
@media (max-width: 1500px) {
  .filterDiv p {
    max-width: 50%;
  }
}
@media (max-width: 1300px) {
  .filterDiv {
    width: 100%;
  }
  h4 {
    font-size: 2vw;
  }
  .cmdselect {
    height: 100px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    width: fit-content;
    display: block;
    max-width: 100%;
    margin: 20px auto;
    max-width: 90vw;
  }
  .cmdbtn {
    background-color: var(--cmdBtnBg);
    cursor: pointer;
    color: var(--cmdBtnColorShadow);
    border-radius: 12.5px;
    height: 65px;
    transition: 0.5s;
    width: 90px;
    box-shadow: 0px 10px 0px var(--cmdBtnColorShadow);
    width: 70px;
    margin: 0px 5px;
    display: inline-block;
    font-size: 0px;
  }
  .cmdbtn:hover {
    width: 90px;
    transform: translateY(-5px);
  }
  .cmdbtn:active {
    transform: translateY(5px);
  }
  .container {
    height: fit-content;
    max-height: 80vh;
    width: 90vw;
    display: inline-block;
    margin: 20px 5vw;
  }
  .filterDiv p {
    max-width: 80%;
  }
}

@media (max-width: 1000px) {
  .imgsection {
    width: 100%;
    height: auto;
  }
  h4 {
    font-size: 5vw;
  }
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 10vw;
  }
  p {
    font-size: 14px;
  }
  #console {
    font-size: 14px;
  }
  #navbar {
    height: fit-content;
    display: inline-block;
  }
  #navicon {
    width: 75%;
    text-align: center;
    flex-grow: unset;
    margin: 10px 2.5%;
    position: relative;
  }
  #navclose {
    flex-grow: unset;
    text-align: center;
    margin: 10px 2.5%;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  #announcement {
    width: 90%;
  }
  #navbar p {
    top: 0;
    left: 0;
    position: static;
    transform: none;
    display: block;
    width: 90vw;
    margin: 15px 10px;
    font-size: 15px;
  }
  .mainbutton {
    margin: 0 1.25vw;
  }
  .button,
  #loadwidget {
    margin: 10px 1.5vw;
    width: 44vw;
    padding: 12px 2.5vw;
    min-width: none;
  }
  .imgsection p {
    font-size: 12px;
  }
  .slideshow-container {
    border-radius: 20px;
  }
  .slideshow-container img {
    border-radius: 15px;
  }

  .cmdselect {
    height: 90px;
  }
  .cmdbtn {
    user-select: none;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    /* font-size: 15px; */
  }
  .material-icons.md-36 {
    font-size: 25px;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 5spx;
    margin-top: -30px;
    color: #ffffff52;
  }
  .imgsection {
    height: fit-content;
    margin: 5px 0;
    width: 99%;
    border-width: 0 1%;
  }
  .cmdselect {
    width: 90vw;
  }
  .imgsection p {
    display: block;
    height: fit-content;
  }
  #alert {
    height: fit-content;
    margin: 10px 2.5px 20px 2.5px;
    width: 100%;
    min-height: 50px;
  }
  #alert p {
    font-size: 11px;
    width: 60%;
    margin: 0px 5px;
  }
  .container {
    margin: 20px 2.5vw;
    width: 95vw;
    padding: 20px 2.5vw;
  }
  .filterDiv {
    height: fit-content;
    padding-bottom: 10px;
    height: auto;
    max-height: unset;
    border-radius: 15px;
    width: 85vw;
    margin: 5px 2.5vw;
    padding-bottom: 0;
  }
  .filterDiv:hover {
    height: auto;
    transition-delay: 0s;
  }
  .filterDiv p {
    max-width: 100%;
    font-size: 12px;
    text-align: center;
    white-space: initial;
    text-overflow: unset;
    overflow: auto;
    text-align: left;
  }
  .filterDiv h3 {
    width: 82.5vw;
    margin: 1.25vw;
    font-size: 17px;
    border-radius: 10px;
  }
  .filterDiv .more {
    width: 82.5vw;
    margin: 1.25vw;
    height: fit-content;
    font-size: 12px;
  }
  .filterDiv p .code,
  .filterDiv code {
    margin: 2.5px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
  }
  .filterDiv small {
    font-size: 10px;
    color: #eeff8c;
  }
  .prev .material-icons.md-48,
  .next .material-icons.md-48 {
    font-size: 28px;
  }
  footer a {
    width: 85vw;
    margin: 10px 2.5vw;
  }
  ::-webkit-scrollbar {
    height: 0;
  }
}
@media screen and (max-width: 500px) {
  table {
    font-size: 3vw;
  }
}
